{
  "presets": [
    ["env", {
      "targets": {
        "node": "8.2",
        "chrome": 59
      }
    }],
    "react"
  ],
  "plugins": ["transform-object-rest-spread", "transform-class-properties"]
}
