{
  "presets": [
    ["env", {
      "targets": {
        "electron": "1.8.4"
      },
      "modules": false
    }],
    "react"
  ],
  "plugins": ["transform-object-rest-spread", "transform-class-properties"]
}
